# Celerity Assignment 2

# Importing modules

In [97]:
import pandas as pd
import statistics
import numpy as np
from sklearn.linear_model import LinearRegression

# Loading Data

In [98]:
air=pd.read_csv(r"C:\Users\abhishek\mypython\celerity assign 2\celerity assignment 2 - air.csv")

In [99]:
air.head()

,FROM,TO,TRANSIT TIME,AIRWAYS,Freight per kg,Operation Type
0,Chhatrapati Shivaji Maharaj International Airp...,Los Angeles International Airport (LAX),98 hours 37 minutes,QATAR AIRWAYS,"₹6,459",passenger
1,Chhatrapati Shivaji Maharaj International Airp...,Los Angeles International Airport (LAX),98 hours 37 minutes,EMIRATES,"₹6,512",freighter
2,Chhatrapati Shivaji Maharaj International Airp...,Chicago O'Hare International Airport (ORD),98 hours 37 minutes,ETIHAD AIRWAYS,"₹6,307",freighter
3,Chhatrapati Shivaji Maharaj International Airp...,Chicago O'Hare International Airport (ORD),98 hours 37 minutes,QATAR AIRWAYS,"₹6,459",passenger
4,Chhatrapati Shivaji Maharaj International Airp...,Chicago O'Hare International Airport (ORD),98 hours 37 minutes,EMIRATES,"₹6,511",freighter

In [100]:
ship=pd.read_csv(r"C:\Users\abhishek\mypython\celerity assign 2\celerity assignment 2 - ship.csv")

In [101]:
ship.head()

,ORIGIN OF SHIPMENT,DESTINATION OF SHIPMENT,CONTAINER DETAILS,SHIPPER NAME,FREIGHT RATE in INR,FREIGHT RATE in USD,Destination Detention Days
0,JNPT (Jawaharlal Nehru Port Trust),Los Angeles/Long Beach,40FT,COGO ASSURED,"₹1,53,104","$1,591",7 Days
1,JNPT (Jawaharlal Nehru Port Trust),Los Angeles/Long Beach,40FT,OOCL,"₹1,46,970","$1,545",4 Days
2,JNPT (Jawaharlal Nehru Port Trust),Los Angeles/Long Beach,40FT,ONE LINE,"₹1,64,130","$1,645",3 Days
3,JNPT (Jawaharlal Nehru Port Trust),Los Angeles/Long Beach,40FT,COSCO,"₹1,67,846","$1,792",3 Days
4,JNPT (Jawaharlal Nehru Port Trust),Los Angeles/Long Beach,40FT,HYUNDAI,"₹1,85,576","$1,957",3 Days

# Cleaning Data

In [102]:
for i in air.columns:
    air[i]=air[i].str.lower()
for i in ship.columns:
    ship[i]=ship[i].str.lower()

In [103]:
c=air['Freight per kg'][0]
r=c[0]
air['Freight per kg']=air['Freight per kg'].str.replace(',','')
air['Freight per kg']=air['Freight per kg'].str.replace(r,'')
air['Freight per kg']=pd.to_numeric(air['Freight per kg'])
hrs=[]
air['TRANSIT TIME']=air['TRANSIT TIME'].str.replace('hrs','hours')
for i in list(air['TRANSIT TIME']):
    m=i.split()
    if len(m)>2:
        c=int(m[2])/60+int(m[0])
    else:
        c=int(m[0])
    hrs.append(round(c,1))
air['TRANSIT TIME']=hrs

In [104]:
ship['FREIGHT RATE in USD']=ship['FREIGHT RATE in USD'].str.replace(',','')
ship['FREIGHT RATE in USD']=ship['FREIGHT RATE in USD'].str.replace('$','')
ship['FREIGHT RATE in USD']=pd.to_numeric(ship['FREIGHT RATE in USD'])
days=[]
for i in list(ship['Destination Detention Days']):
    days.append(int(i.split()[0])*24)
ship['Destination Detention Days']=days

C:\Users\abhishek\AppData\Local\Temp\ipykernel_10036\4093745601.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  ship['FREIGHT RATE in USD']=ship['FREIGHT RATE in USD'].str.replace('$','')

In [105]:
ship.head()

,ORIGIN OF SHIPMENT,DESTINATION OF SHIPMENT,CONTAINER DETAILS,SHIPPER NAME,FREIGHT RATE in INR,FREIGHT RATE in USD,Destination Detention Days
0,jnpt (jawaharlal nehru port trust),los angeles/long beach,40ft,cogo assured,"₹1,53,104",1591,168
1,jnpt (jawaharlal nehru port trust),los angeles/long beach,40ft,oocl,"₹1,46,970",1545,96
2,jnpt (jawaharlal nehru port trust),los angeles/long beach,40ft,one line,"₹1,64,130",1645,72
3,jnpt (jawaharlal nehru port trust),los angeles/long beach,40ft,cosco,"₹1,67,846",1792,72
4,jnpt (jawaharlal nehru port trust),los angeles/long beach,40ft,hyundai,"₹1,85,576",1957,72

In [106]:
air.head()

,FROM,TO,TRANSIT TIME,AIRWAYS,Freight per kg,Operation Type
0,chhatrapati shivaji maharaj international airp...,los angeles international airport (lax),98.6,qatar airways,6459.0,passenger
1,chhatrapati shivaji maharaj international airp...,los angeles international airport (lax),98.6,emirates,6512.0,freighter
2,chhatrapati shivaji maharaj international airp...,chicago o'hare international airport (ord),98.6,etihad airways,6307.0,freighter
3,chhatrapati shivaji maharaj international airp...,chicago o'hare international airport (ord),98.6,qatar airways,6459.0,passenger
4,chhatrapati shivaji maharaj international airp...,chicago o'hare international airport (ord),98.6,emirates,6511.0,freighter

# Filling missing values

In [107]:
print("Total missing values air dataset:",air.isna().sum().sum())
print("Total missing values ship dataset:",ship.isna().sum().sum())

Total missing values air dataset: 8
Total missing values ship dataset: 0

In [108]:
air['Freight per kg'].fillna(0,inplace=True)

In [109]:
# using mean to replace missing numerical values
for i,j in enumerate(list(air['Freight per kg'])):
    if j==0:
       air['Freight per kg'][i]=statistics.mean(list(air['Freight per kg'][air['AIRWAYS']==air['AIRWAYS'][i]]))

C:\Users\abhishek\AppData\Local\Temp\ipykernel_10036\1392236523.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  air['Freight per kg'][i]=statistics.mean(list(air['Freight per kg'][air['AIRWAYS']==air['AIRWAYS'][i]]))

In [110]:
print("Total missing values after filling air dataset:",air.isna().sum().sum())
print("Total missing values after filling ship dataset:",ship.isna().sum().sum())

Total missing values after filling air dataset: 2
Total missing values after filling ship dataset: 0

# Extracting necessary columns

Weight is not given and can not be determined and even if we determine weight from the given data like by container measurment or in case of airways the carrying capacity of a plane it would not help in predicting the freight rate

In [111]:
air_model=pd.DataFrame(columns=['time','freight rate'])
air_model['time']=air['TRANSIT TIME']
air_model['freight rate']=air['Freight per kg']
air_model['freight rate']=air_model['freight rate'].round()
air_model

    time  freight rate
0   98.6        6459.0
1   98.6        6512.0
2   98.6        6307.0
3   98.6        6459.0
4   98.6        6511.0
..   ...           ...
70  98.6        8053.0
71  98.6        2820.0
72  98.6        6834.0
73  98.6        8455.0
74  98.6        3102.0

[75 rows x 2 columns]

In [112]:
ship_model=pd.DataFrame(columns=['time','freight rate'])
ship_model['time']=ship['Destination Detention Days']
ship_model['freight rate']=ship['FREIGHT RATE in USD']
ship_model['freight rate']=ship_model['freight rate'].round()
ship_model

     time  freight rate
0     168          1591
1      96          1545
2      72          1645
3      72          1792
4      72          1957
..    ...           ...
186    72          3502
187    72          3523
188    72          3564
189    72          6108
190    72          6427

[191 rows x 2 columns]

# Using LinearRegression as Model

In [113]:

air_lr=LinearRegression()
ship_lr=LinearRegression()

In [114]:
air_lr.fit(np.array(list(air_model['time'])).reshape(-1,1),list(air_model['freight rate']))
ship_lr.fit(np.array(list(ship_model['time'])).reshape(-1,1),list(ship_model['freight rate']))

LinearRegression()

# Test input

In [115]:
print(air_lr.predict([[98.6]]))
print(ship_lr.predict([[72]]))

[7081.35870532]
[3178.4488299]

# Ways to scrape Data

Here are some ways to scrape data from websites:

HTML Parsing: This involves using an HTML parser like BeautifulSoup or Scrapy to extract data from the HTML code of a web page.

APIs: Many websites offer APIs that allow developers to access their data in a structured format.

Web Scraping Tools: There are a number of web scraping tools available that make it easier to extract data from websites. These tools typically allow you to configure the scraping process through a user interface and generate code automatically.

Automated Data Extraction Services: There are several automated data extraction services available that allow you to extract data from websites without writing code. These services typically provide a web-based interface for configuring the data extraction process and storing the results.

Aside from web scraping, there are several alternative methods of data retrieval, including:

Data Dumps: Some websites provide downloadable data dumps in a structured format, which can be parsed and analyzed offline.

RSS Feeds: Some websites provide RSS feeds that can be used to extract updates to the website content.

Webhooks: Some websites provide webhooks that allow developers to receive real-time updates when new data is added or changed on the website.

Data Marketplaces: There are several data marketplaces available where you can purchase structured data for analysis.